@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin sans', sans-serif;
  text-decoration: none;
}

body {
  font-family: 'roboto', sans-serif;
  background: #cfcfcf no-repeat center center;
  background-size: cover;
  height: 100vh;
  transition: all 0.5s ease;
}

/* Sidebar styles */
.Sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color:  #007BFF ;
  width: 90px; /* Adjust width as needed */
  overflow: hidden;
  transition: width 0.2s linear;

}

/* Logo styles */
.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-weight: bold;
  margin-top: 30px;
  padding: 8px;
  color: rgb(231, 227, 227);
  font-size: 18px;
  text-transform: uppercase;
}


/* Link styles */
a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: table;
  width: 300px;
  padding: 12px;
}

/* FontAwesome icon styles */
.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  top: 14px;
  margin-left: 16px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}


a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  display: table;
  width: 300px;
  padding: 12px;
}

/* FontAwesome icon styles */
.fas {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 35px;
  top: 16px;
  
 

}

.nav-item {
  position: relative;
  top: -10px;
  margin-left: 80px;
  display: flex;
  font-size:  20px;
  flex-direction: column;
  flex-grow: 1; 
}

a:hover {
  background: #333333;
}

.Sidebar:hover {
  width: 240px;
  transition: all 0.5s ease;
}

.logout{
    position: absolute ;
    bottom: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
  color: #020202;
  font-size: 30px;
  font-weight: bold;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    color: #0a0a0a;
    border: 1px solid rgb(138, 134, 134);
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
